
css VARIABLES AKA Custom Properties
hold a value and reuse it
--varName:value
property:var(--varName)
scope
:root{}===global
element===local
any property
.heading{
  color:blueviolet
}
.text{
  color:#384754;
}
.main-text{
  color:#342353;
}
.second-heading{
  color:#034233;
}

:root{
  --primaryColor:#1313f3;
  --secondaryColor:#642839;
  --mainTransition:all 0.4s linear;
}
.heading{
  color: var(--primaryColor);
}
.second-heading {
  color: var(--primaryColor);
  transition: var(--mainTransition);
}
.second-heading:hover{
   color: var(--secondaryColor);
}
div{
  --primaryRed:red;
}
.main-text{
  color:var(--primaryRed);
}
.third-heading{
  color:var(--primaryRed);
}