/*
line-height
letter-spacing
word-spacing
text-transform
text-decoration
*/
a{
  font-size: 40px;
  text-decoration: none;
}
body{
  text-transform: capitalize;
}
h1{
  text-transform: lowercase;
  text-decoration: line-through;
}
.one{
  line-height: 0.5em;
  text-decoration: overline;
  line-height: 2rem;
}
.two{
  letter-spacing: 5px;
}
.three{
  word-spacing:20px;
  text-decoration: underline;
}